In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

In [7]:
apps = pd.read_csv('apps.csv')
jobs = pd.read_csv('jobs.csv')
users = pd.read_csv('users.csv')

In [9]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25511 entries, 0 to 25510
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   UserID                25511 non-null  int64
 1   WindowID              25511 non-null  int64
 2   Split                 25511 non-null  object
 3   City                  25511 non-null  object
 4   State                 25511 non-null  object
 5   Country               25511 non-null  object
 6   ZipCode               25475 non-null  object
 7   DegreeType            22133 non-null  object
 8   Major                 25511 non-null  object
 9   GraduationDate        19865 non-null  object
 10  WorkHistoryCount      25511 non-null  int64
 11  TotalYearsExperience  25511 non-null  float64
 12  CurrentlyEmployed     25511 non-null  object
 13  ManagedOthers         25511 non-null  object
 14  ManagedHowMany        25511 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 2.9+ MB

In [10]:
users['DegreeType'] = users['DegreeType'].fillna('')
users['Major'] = users['Major'].fillna('')
users['TotalYearsExperience'] = users['TotalYearsExperience'].fillna('').astype(str)

users['DegreeType'] = users['DegreeType'] + ' ' + users['Major'] + ' ' + users['TotalYearsExperience']

In [11]:
users.head()

,UserID,WindowID,Split,City,State,Country,ZipCode,DegreeType,Major,GraduationDate,WorkHistoryCount,TotalYearsExperience,CurrentlyEmployed,ManagedOthers,ManagedHowMany
0,13,6,Test,Philadelphia,PA,US,19143,Bachelor's Psychological & Social Sciences 5.0,Psychological & Social Sciences,2011-12-01 00:00:00,6,5.0,Yes,No,0
1,64,6,Train,Columbus,OH,US,43230,Master's Business Administration and Managemen...,"Business Administration and Management, General",2011-12-01 00:00:00,3,22.0,Yes,No,0
2,101,6,Train,Brick,NJ,US,08724,High School Not Applicable 2.0,Not Applicable,NaN,1,2.0,No,Yes,4
3,133,6,Train,Wilmington,DE,US,19802,Bachelor's Sports Management 9.0,Sports Management,2003-05-01 00:00:00,6,9.0,Yes,Yes,6
4,151,6,Train,Norwich,CT,US,06360,Business 24.0,Business,1987-01-01 00:00:00,4,24.0,No,Yes,10

In [12]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0.0, stop_words='english')
tfidf_matrix = tf.fit_transform(users['DegreeType'])

In [13]:
tfidf_matrix.shape

(25511, 13013)

In [14]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [15]:
cosine_sim.shape

(25511, 25511)

In [24]:
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 1., 1., 0.],
       ...,
       [0., 0., 1., ..., 1., 1., 0.],
       [0., 0., 1., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [16]:
user_based_approach = users.reset_index()
userid = user_based_approach['UserID']
indices = pd.Series(user_based_approach.index, index=user_based_approach['UserID'])

In [17]:
def get_recommendations_userwise(userid):
    idx = indices[userid]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    user_indices = [i[0] for i in sim_scores]
    user_indices_top = user_indices[1:12]
    similar_users = list(user_based_approach.loc[indices.iloc[user_indices_top]]['UserID'].values)
    return similar_users

In [25]:
print ("-----Top 10 Similar users with userId: 554------")
get_recommendations_userwise(13)

-----Top 10 Similar users with userId: 554------

[363411,
 1296070,
 465442,
 1121264,
 109317,
 1199131,
 56406,
 1209293,
 1299650,
 1306730,
 695542]

In [26]:
apps['UserID'].unique()

array([     13,      64,     101, ..., 1471948, 1472019, 1472066])

In [27]:
def get_job_id(usrid_list):
    jobs_userwise = apps['UserID'].isin(usrid_list) #
    df1 = pd.DataFrame(data = apps[jobs_userwise], columns=['JobID'])
    joblist = df1['JobID'].tolist()
    Job_list = jobs['JobID'].isin(joblist) #[1083186, 516837, 507614, 754917, 686406, 1058896, 335132])
    df_temp = pd.DataFrame(data = jobs[Job_list], columns=['JobID','Title','Description','City','State'])
    return df_temp

In [29]:
get_job_id(get_recommendations_userwise(13))

,JobID,Title,Description,City,State
1835,17497,Community Living Specialist - Direct Care Posi...,NaN,Wayne,NJ
5347,51907,Restaurant Team Member - Crew,NaN,Chevy Chase,MD
6007,58250,Physical Therapist - IU Health Morgan Hospital,NaN,Bethany,IN
6545,63095,Human Capital Principal Financial Serv Emp Ben...,NaN,Glen Allen,VA
11901,111105,Program Administrative Coordinator,NaN,Covina,CA
17311,162856,Store Manager Off-site,NaN,Rialto,CA
22560,216510,$$55K Receptionist - Flexible Hours,NaN,San Marcos,CA
23084,221335,Youth Counselor Direct Care Residential,NaN,Fitchburg,MA
26242,253478,"Specialist, Walk (Service Areas: AL & FL)",NaN,Pensacola,FL
26401,255080,State Farm Insurance and Financial Services Agent,NaN,Council Bluffs,IA
28345,273495,Medical Device Sales - Durable Medical Equipme...,NaN,Jackson,MS
32920,316944,Adolescent Treatment Worker,NaN,California,KY
34935,337068,Enrollment Representative,NaN,Overland Park,KS
36184,350226,Enrollment Counselor,NaN,Atlanta,GA
39234,376376,Truck Driver - CDL Driver Training - Truck Dri...,NaN,Madison,TN
39386,377540,"Customer Account Specialist - Pueblo, CO",NaN,Pueblo,CO
39903,382053,Behavior Management Consultant,NaN,Riverside,CA
41008,394334,Sales / Franchise,NaN,Middletown,CT
45218,433260,Accounts Payable Analyst,NaN,Charlotte,NC
46208,441053,Registered Nurse - PRN Pool,NaN,Franklin,TN
47343,451658,Residential Treatment Assistant II,NaN,Philadelphia,PA
50694,485753,Cardiac Ultrasound Technician,NaN,Concord,NC
54601,524713,Coordinator,NaN,Fort Washington,PA
54649,525186,Behavioral Health Worker,NaN,Philadelphia,PA
63822,616842,Part-time Administrative Assistant / Receptionist,NaN,Poway,CA
66042,639016,Social Worker,NaN,Lafayette,LA
75616,729140,Test Automation Engineer,NaN,Raleigh,NC
78513,753194,Customer Service Representative,NaN,Indianapolis,IN
81862,786611,Senior Manufacturing Engineer,NaN,Corona,CA
84361,812425,JOB DEVELOPMENT SPECIALIST,NaN,Lafayette,LA
84758,816697,Data Entry - Competitive Salary,NaN,North Wales,PA
89298,862642,Auditor,NaN,Arlington,VA
95243,920320,Operations Managers & Supervisors,NaN,Moreno Valley,CA
95789,925930,Call Center Supervisor,NaN,Tampa,FL
98282,948898,RN Home Health - Full time Cincinnati area,NaN,Cincinnati,OH
102021,991237,Sr. Project Coordinator - Infra.,NaN,Portland,OR
109091,1051879,Financial Services Representative,NaN,Chicago,IL
115312,1112000,Automotive Technician / Automotive Mechanic / ...,NaN,Chantilly,VA